/* Dialog */

.comments-dialog-controls {
	text-align: right;
}

#comments-dialog-tabs {
	margin-bottom: 4px;
}

#commentsContent {
	width: 95%;
}

#commentsPreview {
}

/* List */

#comments-error {
	margin-top: 5px;
}

.comment {
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 5px;
	margin-bottom: 10px;
}

.comment-header {
	font-size: 75%;
	color: gray;
}

.comment-actions {
	display: none;
}

.comment:hover .comment-actions {
	display: inline;
	cursor: pointer;
}
