/* Dialog */

.comments-dialog-controls {
	text-align: right;
}

#comments-dialog-tabs {
	margin-bottom: 4px;
}

#commentsContent {
	width: 95%;
}

#commentsPreview {
}

/* List */

#comments-error {
	margin-top: 5px;
}

.comment {
	margin-top: 5px;
	margin-bottom: 0px;
	padding: 5px;
	margin-bottom: 10px;
}