/* General styles */

.help-block {
	font-style: italic;
	font-size: 80%;
}

.action {
	cursor: pointer;
}

/* Loading indicator */
.loading {
	padding-left: 24px;
	background-image: url('../images/ajax-loader.gif');
	background-repeat: no-repeat;
}

/* Dialogs */

.dialog {
	display: none;
}

/* Items */

.item-content {
	padding-left: 1em;
	height: 24px;
}

.item-content * {
	vertical-align: middle;
}

.item-color {
	margin-right: 1em;
	width: 1em;
	border: solid 1px gray;
}

table.items tbody tr:hover {
	cursor: pointer;
	background-color: #EEEEFF;
}

table.items .item-actions {
	font-size: 60%;
	opacity: 0.0;
}

table.items tr:hover .item-actions {
	opacity: 0.7;
}

table.items tfoot td {
	padding-top: 0.5em;
}
