<Context sessionCookiePath="/">

    <!-- JDBC datasource -->
    <Resource name="jdbc/iteach"
              auth="Container"
              type="javax.sql.DataSource"
              factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
              maxActive="20"
              minIdle="5"
              maxIdle="10"
              maxWait="1000"
              maxAge="1200000"
              removeAbandoned="true"
              removeAbandonedTimeout="60"
              testWhileIdle="true"
              validationQuery="SELECT 1"
              timeBetweenEvictionRunsMillis="60000"
              logAbandoned="true"
              defaultAutoCommit="false"
              username="iteach"
              password="iteach"
              driverClassName="org.h2.Driver"
              url="jdbc:h2:file:/opt/iteach/db/data;AUTOCOMMIT=OFF;MVCC=true;MODE=MySQL"
            />

    <!-- Mail session -->
    <!-- In the mail session definition, replace the email address and the password accordingly -->
    <Resource name="mail/SendGrid" auth="Container"
              type="javax.mail.Session"
              mail.smtp.host="smtp.gmail.com"
              mail.debug="false"
              mail.smtp.auth="true"
              mail.smtp.starttls.required="true"
              mail.user="xxx@gmail.com"
              password="xxx" />

</Context>
