/* Common styles */

@body-color-bg: #F0F0F0;
@body-margin: 4px;

@page-title-color-bg: black;
@page-title-color-fg: white;

@content-title-color-fg: #D24939;
@content-title-color-bg: white;

body {
	font-family: sans-serif;
	background-color: @body-color-bg;
	margin: 0px;
}


/* layout_basic */

section.page-title {
	background-color: @page-title-color-bg;
	color: @page-title-color-fg;
	padding: @body-margin @body-margin * 2 @body-margin @body-margin *2;
	span.page-title {
		font-size: 200%;
		font-weight: bold;
		font-family: serif;
	}
	div.page-meta {
		display: inline;
		float: right;
		position: relative;
		top: 10px;
		right: 15px;
		.page-nav-item {
			margin-right: 10px;
		}
		a {
			.page-nav-item;
			text-decoration: none;
			color: @page-title-color-fg;
			&.app-settings {
				background-image: url('../images/cog.png');
				background-repeat: no-repeat;
				background-position: left center;
				padding-left: 20px;
			}
		}
	}
}

/* layout_std */
article.content {
	> header {
		padding-left: @body-margin;
		color: @content-title-color-fg;
		background-color: @content-title-color-bg;
		font-weight: bold;
	}
	> section.content {
		margin: @body-margin;
	}
}

/* Security */

.sec-login-logout {
	background-repeat: no-repeat;
	background-position: left center;
	padding-left: 20px;
}

a.sec-logout {
	.sec-login-logout;
	background-image: url('../images/disconnect.png');
}

a.sec-login {
	.sec-login-logout;
	background-image: url('../images/connect.png');
}

/* Inline form */

form.button {
	display: inline;
}

/* Panels */

@panel-border-color: #BBBBBB;
@panel-border-radius: 4px;
@panel-color: white;

.panel-title {
	color: @content-title-color-fg;
	margin: @panel-border-radius;
	font-size: 100%;
}

section.panel {
	border: solid 1px @panel-border-color;
	border-radius: @panel-border-radius;
	margin-bottom: @body-margin;
	background-color: @panel-color;
	> h3 {
		.panel-title;
	}
	> section {
		padding: @panel-border-radius * 2;
	}
}